<div id="wrapper">
  <h1>Ember Component Integration Tests</h1>

  {{outlet}}

  <footer>
    <p>For more information, see the <a href="https://github.com/alisdair/ember-component-integration-tests">GitHub repository for this app</a>, and particularly <a href="https://github.com/alisdair/ember-component-integration-tests/blob/master/tests/integration/components/alert-banner-test.js">the integration test for the alert-banner component</a>.</p>
  </footer>
</div>
