<div id="wrapper">
  <h1>Ember Component Integration Tests</h1>

  {{outlet}}

  <footer>
    <p>For more information, see <a href="http://alisdair.mcdiarmid.org/2015/06/20/ember-component-integration-tests.html">this post about Ember component integration tests on my weblog</a>.</p>
  </footer>
</div>
